@model UIUCSalary.Models.ViewModels.IndexViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">UIUC Salary</h1>
    <p>
        This site is designed to show % change of salaries for academic employees, positions, departments, and campuses from 2010 to present.
        <br />It does NOT include data from Civil Service/Hourly employees. For that info, please use Daily Illini's <a href="http://salaryguide.dailyillini.com/#/">website</a>.
    </p>

    <form asp-action="Index" method="get">
        <div class="form-actions no-color">
            <p>
                Find by name: <input type="text" name="SearchString" />
                <input type="submit" value="Search" class="btn btn-default btn-success" />
            </p>
        </div>
    </form>

    <table class="table col-sm-6" style="margin-left: 200px;">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Employees.FirstOrDefault().EmployeeName)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Employees != null)
            {
                @foreach (var item in Model.Employees)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.EmployeeName)
                        </td>
                        <td>
                            <a asp-action="Salary" asp-route-id="@item.EmployeeId">Salary</a>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            $('.js-example-basic-single').select2();
        });
    </script>
}
